body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a svg {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

  .nav svg {
    transform-origin: 50% 50%;
  }

  .nav:hover svg{
    transform: scale(1.5);
  }

  .nav:hover * {
    color: #EAAA7F;
    fill: #EAAA7F;
  }

  .nav {
    transition: transform .2s ease-in;
  }

#name {
  color: #EAAA7F;
  text-transform: uppercase;
  font-size: 1.5em;
}

#logo {
  width: 140px;
}

#logo-text {
  opacity: 0;
}

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li svg {
        margin: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

.dogs {
  width: 170px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/*svgs*/

.st0{
  fill:#BA8058;
}
.st1 {
  fill:#EAAA7F;
}
.st2 {
  fill:#F4C6A6;
}
.st3 {
  fill:#39ADD1;
}

.st4 {
  fill:#FBFEFF;
}

.st5 {
  fill:#2D3339;
}

.st6 {
  fill:#844B24;
}

.st7 {
  fill:#52595F;
}

.st8 {
  fill:#222;
}


/*media queries*/

@media screen and (min-width: 425px) {
  #logo-text {
    opacity: 1;
  }

  #name {
    display: none;
  }
}
